@import 'styles/components/00-protons/medias/medias.scss';

.o-videoList__items {
  @include medium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & > * {
    margin-top: var(--spaceL);

    @include medium {
      width: calc(50% - var(--spaceM));
    }
  }
}
