<div class="m-list">
    {{> @image-design}}
    <div class="m-list__app">
        <div class="m-list__app--title">
            {{> @title--third}}
        </div>
        {{> @list}}
    </div>
</div>