<div class="radius" style="border-radius: var(--borderRadius)">Border radius
</div>

<div class="transition" style="transition-duration: var(--transitionDuration">
  Transition duration
  (hover me)
</div>

<style>
  div {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgreen;
    margin-bottom: 1em;
  }

  .transition:hover {
    background-color: lightblue;
  }

</style>
