<div class="l-main">
  {{> @header }}

  <main>
    {{> @chapter-link}}
    {{> @chapter-link}}
    {{> @chapter-link}}
    {{> @chapter-link}}
    {{> @chapter-link}}
    {{> @video-list }}
    {{> @course-map }}
    {{> @recommanded-accounts }}
  </main>

  {{> @footer }}
</div>
