<main>
  <section>
    <p style="font-family: var(--fontFamilyTitle)">Title : Oswald 400 (Regular)
    </p>
    <p style="font-family: var(--fontFamilyTitle); font-weight: lighter">Title :
      Oswald 300 (Light)</p>

  </section>

  <section>
    <p style="font-family: var(--fontFamilyMain)">Main : Roboto 400 (Regular)
    </p>
    <p style="font-family: var(--fontFamilyMain); font-weight: bold">Main :
      Roboto
      900 (Bold)</p>
    <p style="font-family: var(--fontFamilyMain); font-style: italic">Main :
      Roboto 400 (Italic)</p>
  </section>

  <section>
    <p style="font-family: var(--fontFamilyCode)">Code : Monospace system font
    </p>
  </section>
</main>

<style>
  main {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin-bottom: 1em;
  }

</style>
