<section>
  <p style="line-height: var(--lineHeightMain)">This text has a normal
    line-height. This text has a normal line-height. This text has a normal
    line-height. This text has a normal line-height. This text has a normal
    line-height. This text has a normal line-height. This text has a normal
    line-height. </p>
</section>
</style>
