<p style="font-family: var(--fontFamily)">Inter 400 (Regular)
  <p
    style="font-family: var(--fontFamily); font-weight: var(--fontWeightMedium)">
    Inter 500 (Medium)
  </p>
  <p style="font-family: var(--fontFamily); font-weight: bold">Inter 700 (Bold)
  </p>

  <style>
    p {
      margin-bottom: 1em;
    }

  </style>
