@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Inter', 'fonts/Inter/Inter-Regular', normal, normal);
@include font('Inter', 'fonts/Inter/Inter-Medium', 500, normal);
@include font('Inter', 'fonts/Inter/Inter-Bold', bold, normal);

:root {
  --fontFamily: Inter, Helvetica, Verdana, sans-serif;

  --fontSizeXXL: 50px;
  --fontSizeXL: 30px;
  --fontSizeL: 22px;
  --fontSizeM: 17px;
  --fontSizeS: 14px;

  --lineHeightMain: 1.5;

  --fontWeightMedium: 500;
}
