<section class="o-recommandedAccounts">
  {{> @title--level3 }}

  <div class="o-recommandedAccounts__list">
    {{> @twitter-account }}
    {{> @twitter-account }}
    {{> @twitter-account }}
    {{> @twitter-account }}
    {{> @twitter-account }}
    {{> @twitter-account }}
    {{> @twitter-account }}
    {{> @twitter-account }}
  </div>
</section>
