<section class="o-source">
    <div class="o-source__image">
        {{> @image-hero}}
    </div>

    <div class="o-source__app">
        {{> @heading--one }}
        {{> @download-button }}
    </div>
</section>