<section>
  <div style="background-color: var(--colorPrimary)">Primary</div>
</section>

<section>
  <div style="background-color: var(--colorTextMain); color: white">Text Main
  </div>
  <div style="background-color: var(--colorTextSecondary); color: white">Text
    Secondary</div>
  <div
    style="background-color: var(--colorTextReversed); border: 1px solid black">
    Text Reversed</div>
</section>

<section>
  <div style="background-color: var(--colorSuccess)">Success</div>
  <div style="background-color: var(--colorSuccessLight)">Success Light</div>
  <div style="background-color: var(--colorSuccessDark)">Success Dark</div>
</section>

<section>
  <div style="background-color: var(--colorInfo)">Info</div>
  <div style="background-color: var(--colorWarning)">Warning</div>
</section>

<section>
  <div style="background-color: var(--colorCode)">Code</div>
  <div style="background-color: var(--colorCodeLight)">Code Light</div>
</section>

<section>
  <div style="background-color: var(--colorQuestion)">Question</div>
</section>

<style>
  section {
    display: flex;
  }

  div {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    margin: 0 1em 1em 0;
  }

</style>
