<section>
  <div style="background-color: var(--colorPrimary)">Primary</div>
  <div style="background-color: var(--colorSecondary)">Secondary</div>
</section>

<section>
  <div style="border: 1px solid black; color: var(--colorTextMain)">
    Text Main
  </div>
  <div style="border: 1px solid black; color: var(--colorTextTitle)">
    Text Title
  </div>
  <div
    style="background-color: var(--colorPrimary); color: var(--colorTextReversed)">
    Text Main
  </div>
</section>

<style>
  section {
    display: flex;
  }

  div {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    margin: 0 1em 1em 0;
  }

</style>
