:root {
  --colorPrimary: #ed0661;

  --colorTextMain: #222222;
  --colorTextSecondary: #666666;
  --colorTextReversed: #ffffff;

  --colorSuccess: #38c138;
  --colorSuccessLight: #c8f7b9;
  --colorSuccessDark: #076b07;

  --colorInfo: #dbf9eb;
  --colorWarning: #f9e9db;

  --colorCode: #006b89;
  --colorCodeLight: #c8f0fd;

  --colorQuestion: #e7d3f5;

  --colorInputBorder: #666666;
}
