@import 'styles/components/01-atoms/symbols/triangle/triangle';

.m-partTitle {
  display: flex;
  align-items: flex-end;
}

.m-partTitle--open {
  .a-triangle {
    @extend .a-triangle--down;
  }
}

.m-partTitle__opener {
  display: flex;
  align-items: center;
  cursor: pointer;

  & > * {
    margin-right: 10px;
  }
}
