.a-link {
  font-size: var(--fontSizeS);
  text-decoration: none;
  color: var(--colorSuccessDark);
  background: var(--colorSuccessLight);
  font-family: var(--fontFamilyMain);
  line-height: var(--lineHeightLarge);
  display: inline-block;
  padding: 0 var(--spaceS);
  border-radius: var(--borderRadius);

  &:hover {
    text-decoration: underline;
  }
}
