<section class="o-empower">

    {{> @heading}}


    <div class="o-empower__list">
        {{> @product}}
        {{> @engineering}}
        {{> @hr}}
        {{> @design}}
        {{> @sales}}
        {{> @marketing}}
    </div>
    

</section>