.o-try {
  padding: 50px 0;

  .m-phone {
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

.o-try__app {
  background-color: var(--colorSecondary);
  text-align: center;
  padding: 40px;
  border-radius: 4px;
  margin-top: 40px;
}
