<p>XS Space</p>
<section>
  <div style="margin-right: var(--spaceXS)"></div>
  <div></div>
</section>

<p>S Space</p>
<section>
  <div style="margin-right: var(--spaceS)"></div>
  <div></div>
</section>

<p>M Space</p>
<section>
  <div style="margin-right: var(--spaceM)"></div>
  <div></div>
</section>

<p>L Space</p>
<section>
  <div style="margin-right: var(--spaceL)"></div>
  <div></div>
</section>

<p>XL Space</p>
<section>
  <div style="margin-right: var(--spaceXL)"></div>
  <div></div>
</section>


<style>
  p {
    margin: 1em 0 0.5em;
  }

  section {
    display: flex;
  }

  div {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
  }

</style>
