<article class="o-chapterLink">
  <div class="o-chapterLink__content">
    {{> @title--level2 }}
    {{> @paragraph }}

    <div class="o-chapterLink__progression">
      {{> @indication }}
      {{> @link }}
    </div>
  </div>

  <div class="o-chapterLink__links">
    {{> @icon--large-primary }}
    {{> @icon--large-primary }}
  </div>
</article>
