@import 'styles/components/00-protons/medias/medias.scss';

.o-chapterLink {
  @include medium {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.o-chapterLink__content {
  max-width: 78ch;

  & > * + * {
    margin-top: var(--spaceM);
  }
}

.o-chapterLink__progression {
  display: flex;
  align-items: baseline;

  & > * + * {
    margin-left: var(--spaceM);
  }
}

.o-chapterLink__links {
  display: flex;

  & > * + * {
    margin-left: var(--spaceM);
  }
}
